<style>
main {padding-left:0;padding-right: 0;}</style>
<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('<%= asset_path 'fcw-main.jpg' %>');">
                    <h4 style="display:block;margin-top:-2px;font-family:'Helvetica Neue';text-align:center;font-weight:100;color: white;text-shadow: 1px 1px 4px rgba(0,0,0,.5);font-size: 32vh;">Find</h4>
                    <div style="display:block;font-family:'Helvetica Neue';text-align:center;font-weight:200;color: white;text-shadow: 1px 1px 4px rgba(0,0,0,.5);font-size: 5vw;">Chicken&amp;Waffles</div><br><br><br><br><br><br>

                    <button style="margin:0 auto; width:40%;position:absolute;left:30%; height:10%;z-index:99999" class="btn empty btn-large btn-default">Begin</button>
                  </div>
                </div>
                <div class="carousel-caption">     

                </div>
            </div>
        </div>

        <!-- Controls         <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>-->


    </header>
<section>
  <span style="text-align: center;">
    <small>Told you, Jayci.</small>
  </span>
</section>
<div class="row">
  <div class="col-xs-12 col-md-12">
<div class="jumbotron fcwfl">
  <div class="container">

  </div>
</div>

</div>
</div>


