
<%= render 'layouts/maptab' %>
<div id="map-tab-content" class="tab-content" style="/* height:100% */position: fixed;width:100%; height: calc(100vh - 44px);">
	<div class="tab-pane active" style="height:100%;" id="mapTab">
		<button type="button" id="relocate" onClick="relocate();" class="btn btn-default">
	
		<i class="fa fa-location-arrow"></i>
	
</button>
<div id="map_canvas">

</div>
<div id="control_container">
 <div id="map_search" style="visibility:hidden;">
    <form>
      <input type="text">
      <a id="map_search_submit" href="#">
	<span class="glyphicon glyphicon-search"></span>
</a>
</form>
  <div class="attribution">
    <p>powered by Yelp</p>
    <p class="burst"> <%= image_tag "burst_tiny.png" %>
</p>

</div> 

</div>
</div>
</div>
<div class="tab-pane" id="list">
 <div id="results"></div>
</div>
</div>
