// Place all the styles related to the FindChickenAndWaffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

#relocate {
position: fixed;
bottom:20px;
left:0px;
margin:5px;
z-index:9999;
}

#map_canvas {
  height: 100%;
  width: 100%;
}

#control_container {
  margin: 20px;
}

#map_search {
  margin:50px 0 0 -20px;
  box-shadow: 2px 2px 3px #999;
  -moz-box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
}

#map_search input[type=text] {
  border: 1px solid #fff;
  padding-left: 7px;
  height: 29px;
  width: 455px;
}

#map_search input[type=text]:focus {
  outline: none;

  border: 1px solid #c41200;
  border-right: none;
}

#map_search form a {
  background: #c41200;
  color: #fff;
  display: inline-block;
  padding: 7px 9px 7px 9px;
}

.attribution {
  position: absolute;
  top: 5px;
  right: 45px;
}

.attribution p {
  color: #aaa;
  display: inline-block;
  padding-top: 2px;
}

.attribution p.burst {
  position: absolute;
  top: -2px;
}

#results {
  display: none;

  width: 100%
}

#results .result {
  clear: both;

  animation: fadein .5s;
  -moz-animation: fadein .5s; /* Firefox */
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */

  background: #fff;
  border-bottom: 1px solid #e5e5e1;
  display: inline-block;
  margin-right: 5px;

  padding: 5px;
  text-align: left;
  width: 100%;
  height:108px;
  font-family: 'Raleway', sans-serif;
}

#results .result p {
  margin: 0;
}

.result_right {
  float:none !important;
  padding-left: 5px; 
}

a:hover {background:none !important;}
div.result_right h5 a {font-family: 'Lobster', cursive; font-weight:200; font-size:1.5em;  color: cadetblue;}

.result h5 {
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
  white-space: nowrap;
}

.clear-fix {
  clear: both;
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
